* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Press Start 2P", system-ui;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.container {
  background: linear-gradient(#f6941d, #ed1c24);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  padding: 3.5rem 0;
  text-align: center;
}

.title {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: pulse 3s infinite;
}

h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.subtext {
  text-transform: uppercase;
  color: #0c2340;
  font-weight: bold;
  font-size: 1.3rem;
}

.btn {
  background-color: #0c2340;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.slideshow-container {
  /* gap: 1rem; */

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  /* perspective: 1000px; */
}

/* .slideshow-container button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.slideshow-container button:active {
  transform: scale(0.9);
} */

.slides-container {
  /* 
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  */

  position: relative;
  width: 740px;
  height: 400px;
  /* transform-style: preserve-3d; */
  /* transition: transform 2s ease-in-out; */
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out, opacity 1.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.overlay {
  visibility: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(12, 35, 64);
  color: white;
  padding: .5rem;
}

.active .overlay {
  visibility: visible;
}

.overlay h2 {
  font-size: 2rem;
}

.overlay h3 {
  font-size: 1.5rem;
}

.category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 3rem 0 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
}

.category h3 {
  padding: 0 2rem;
  max-width: 50vw;
  text-shadow: 0px 5px #0c2340;
}

.category .dash {
  width: 20%;
  height: 3px;
  background: white;
  box-shadow: 0px 2px 2px #0c2340;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 10px;
  padding: 20px;
  max-width: 90vw;
  margin: auto;
}

.card {
  color: #ffffff;

  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 10px 10px rgba(43, 43, 43, 0.507);
  transform: scale(1.05);
  border: none;
}

.card img {
  width: 100%;
  height: 220px;
}

.card-content {
  margin-top: -5px;
  padding: 20px;
  background: linear-gradient(#0c2340, #0c2340bf);
}

.card-content h3 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.card-content p {
  color: #f6941d;
  font-size: 1.1rem;
}
